<div class="product" itemscope itemtype="http://schema.org/Product">
    <h2 itemprop="name">{{name}}</h2>
    {{#if image.thumb}}
    <div class="product__image" itemprop="image">
        <img src="{{site.url.static}}assets/media/products/{{image.thumb}}" alt="Produktbild von {{name}}">
    </div>
    {{/if}}
    <p itemprop="description">{{description}}</p>
    <div itemscope itemtype="http://schema.org/AggregateOffer">
        <p class="text--brand"><b><span itemprop="price">{{formatNumber price}}</span> €</b> inkl. MwSt.</p>
    </div>
    <button class="button  button--primary  js-buy"
            data-name="{{name}}"
            data-description="{{description}}"
            data-amount="{{price}}"
            data-id="{{id}}">jetzt kaufen</button>
    <meta itemprop="priceCurrency" content="EUR" />
</div>