<figure class="figure  figure--instagram{{#if position}}  figure--break-{{position}}{{/if}}">
  <a class="figure__link" href="https://www.instagram.com/p/{{shortcode}}/"><img class="figure__image" alt="{{title}}" src="https://instagram.com/p/{{shortcode}}/media/?size={{size}}" /></a>
  <p class="figure__caption">{{{caption}}}</p>
</figure>