<!DOCTYPE html>
<html lang="{{lang}}">
  <head itemscope itemtype="http://schema.org/WebSite">
    {{> htmlheader}}
    <meta name="author" content="{{author}}">
    <title itemprop='name'>{{site.header.title_prefix}} - {{headline}} {{#if subline}}{{subline}}{{/if}}</title>

    {{> analytics}}
  </head>
  <body class="ccp  ccp--article">
    {{> navigation}}
    <main class="main container" itemscope itemtype="http://schema.org/Article">
      <header role="banner">
        <h1 itemprop="headline">{{headline}} {{#if subline}}<span class="subline">{{subline}}</span>{{/if}}</h1>
        <div class="article-meta">
          <div>
            <img class="author-image" src="{{site.url.static}}assets/media/me.jpg" alt="Picture of Tobias Hartmann">
          </div>
          <div class="no-margin">
            <p class="author">von <span itemprop="author" >{{author}}</span></p>
            <time datetime="{{formatTime date "YYYY-MM-DD"}}">{{formatTime date "DD.MM.YYYY"}}</time>
            <meta itemprop="datePublished" content="{{formatTime date "YYYY-MM-DD"}}"><br>
            {{> shareOnTwitter
              path=relativePath
              text=headline
              author=twitter }}
          </div>
        </div>
      </header>
      {{#markdown}}{{> @partial-block }}{{/markdown}}
    </main>
    <div class="container">
      <ul class="list  list--inline  list--unstyled" itemprop="keywords">
        {{#formatTags tags}}
        <li class="list__item"><div class="tag">{{tag}}</div></li>
        {{/formatTags}}
      </ul>

      {{> flattr}}
    </div>
    {{> footer}}
  </body>
</html>
